{{ $current_page := . }}
{{ $highlight_active_link := site.Params.footer_menu.highlight_active_link | default true }}
{{ $align_menu := site.Params.footer_menu.align | default "l" }}

<nav class="navbar-footer navbar-expand-lg compensate-for-scrollbar" id="navbar-footer">
  <div class="container-xl">

<!-- Left Nav Bar -->
<ul class="site-footer navbar-nav d-md-inline-flex">
  {{ range site.Menus.footer }}

  {{ if .HasChildren }}
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
      {{- .Pre -}}<span>{{ .Name | safeHTML }}</span>{{- .Post -}}
      <span class="caret"></span>
    </a>
    <div class="dropdown-menu">
      {{ range .Children }}
      <a class="dropdown-item" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
        {{- .Pre -}}<span>{{ .Name | safeHTML }}</span>{{- .Post -}}
      </a>
      {{ end }}
    </div>
  </li>

  {{ else }}

  {{/* Set target for link. */}}
  {{ $.Scratch.Set "target" "" }}
  {{ if gt (len .URL) 4 }}
  {{ if eq "http" (slicestr .URL 0 4) }}
  {{ $.Scratch.Set "target" " target=\"_blank\" rel=\"noopener\"" }}
  {{ end }}
  {{ end }}

  {{/* Get active page. */}}

  {{ $is_link_in_current_path := false }}
  {{ $is_widget_page := or $current_page.IsHome (eq $current_page.Type "widget_page") }}
  {{ $is_same_page := false }}
  {{ $hash := findRE "#(.+)" .URL }}

  {{ if $current_page.IsHome | and (or (eq .URL "/") (eq .URL "")) }}
    {{ $is_link_in_current_path = true }}
  {{else}}
    {{ if gt (len .URL) 1 }}{{/* Ignore root URL */}}
    {{ $is_link_in_current_path = in $current_page.RelPermalink .URL }}
    {{ $is_same_page = $is_link_in_current_path }}
  {{end}}
  {{ if gt (len $hash) 0 }}
    {{ $hash = index $hash 0 }}
    {{ $hash_removed := replace .URL $hash "" }}
    {{ if eq (len $hash_removed) 0 }}
      {{ $hash_removed = "/" }}{{/* Add robustness for `/#SECTION` or `#SECTION` in `menus.toml`. */}}
      {{ end }}
    {{ $is_same_page = eq (path.Dir $current_page.RelPermalink) (path.Dir ($hash_removed|relLangURL)) }}
  {{ end }}

  {{end}}

  <li class="nav-item">
    <a class="nav-link {{if and $highlight_active_link $is_link_in_current_path }} active{{end}}" href="{{.URL | relLangURL}}"{{ if and $is_widget_page $is_same_page }} data-target="{{$hash}}"{{ end }}{{ ($.Scratch.Get "target") | safeHTMLAttr }}>
    {{- .Pre -}}<span>{{ .Name | safeHTML }}</span>{{- .Post -}}
    </a>
  </li>

  {{ end }}

  {{ end }}

  {{ if site.Menus.main_right | and (eq $align_menu "l") }}
</ul>
{{ end }}

  </div>
</nav>
