<footer class="site-footer">

  <div class="row">
    <!-- linke Spalte -->
    <div class="col-md-2 powered-by" style="align-self: center;">
        {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}
    </div>

    <!-- Mittlere Spalte-->
    <div class="col-md-8" style="align-self: center;">
      {{ partial "footer_menu" . }}
      <!-- terms, privacy etc. in footer_menu-->
    </div>

    <!-- rechte Spalte -->
    <div class="col-md-2">
      {{ $logo := (partial "functions/get_logo-white" (dict "constraint" "max_height" "size" 150)) }}
      <img src="{{ $logo.RelPermalink }}" alt="{{ site.Title }}">
    </div>
  </div>

</footer>
